<a href="https://colab.research.google.com/github/zhi-yu-lin/data-and-python/blob/main/Wrangle_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merging dataframes, creating new columns, replacing with default or correctly formatted values
---

## Merging dataframes

We often want to use data from a set of different data files, or a set of dataframes we have prepared, to combine into one dataframe.

### To merge two dataframes together when both dataframes have column headings in common

If `df1` and `df2` have some column headings in common, to combine the two into one dataframe we use:  

`pd.concat([dataframes to combine])`

This will create a new dataframe with all columns from the original two dataframes, which we can store in a new variable for later use.  Missing values are filled with null values.

If we want only the column headings that appear in both tables, we can use join='inner':

`pd.concat([dataframes to combine], join='inner')`

We may also need to refactor the indexing, where two tables are indexed from 0 upwards, adding the two tables together will result in multiple occurences of the same index.  This can be overcome by using ignore_index=True:

`pd.concat([dataframes to combine], join='inner', ignore_index=True)`

### Exercise 1 - look at the data

The Excel file at this URL https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true contains TWO data sheets named county-level and state-level.  

In the code cell below, read the county-level sheet into a dataframe called county_level_df and display the contents to see what it looks like.

Then, add more code to read the state-level sheet into a dataframe called state_level_df and display the contents to see what this one looks like.

In [8]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'
county_level_df = pd.read_excel(url, sheet_name = 'county-level')
state_level_df = pd.read_excel(url, sheet_name = 'state-level')

### Exercise 2 - combine the two data sets

Use `pd.concat([list of dataframes])` to combine the two dataframes into a new dataframe called **income_df**, filling missing values with null values.  

**Test output**:  
income_df.shape will be (23, 7)  
The Pop and Education columns will contain NaN for the first 18 rows  
The County and Population columns will contain NaN for the last 5 rows

In [10]:
income_df = pd.concat([county_level_df, state_level_df])
print(income_df.shape)

(23, 7)

### Exercise 3 - ignoring index to get a new indexing system
---

All rows in each dataframe are indexed from 0 to one less than the number of rows.  You will have noticed that the concatenation in the previous exercise has kept the indexing from the individual tables.  

If we are making a new table it may make sense to create a new set of indices, from 0 to one less than the length of the new table.   Do this by adding an extra paramater ignore_index=True.  ignore_index is False by default and all original indices are kept.

Combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`, adding the parameter `ignore_index=True`.

In [11]:
income_df = pd.concat([county_level_df, state_level_df], ignore_index=True)
income_df

   State  County  Population  Age  Income    Pop  Education
0     TX     1.0        72.0   34      65     72        NaN
1     TX     2.0        33.0   42      45     33        NaN
2     TX     5.0        25.0   23      46     25        NaN
3     TX     6.0        54.0   36      65     54        NaN
4     TX     7.0        11.0   42      53     11        NaN
5     TX     8.0        28.0   25      62     28        NaN
6     TX     9.0        82.0   35      66     82        NaN
7     TX    10.0         5.0   40      75      5        NaN
8     MD    11.0        61.0   27      22     61        NaN
9     MD     2.0         5.0   23      69      5        NaN
10    MD     4.0        98.0   25      73     98        NaN
11    MD     3.0        64.0   29      75     64        NaN
12    MD     2.0        36.0   24      65     36        NaN
13    MD     1.0        24.0   25      66     24        NaN
14    MD     5.0        34.0   31      78     34        NaN
15    MD     6.0        89.0   22      81     89        NaN
16    MD     8.0        21.0   25      73     21        NaN
17    MD     7.0        21.0   30      62     21        NaN
18    TX     NaN         NaN   32      54  23543       10.2
19    MD     NaN         NaN   29      69  10343       10.3
20    IN     NaN         NaN   41      35   5231       10.1
21    CA     NaN         NaN   35      67  29587       10.4
22    NY     NaN         NaN   34      78  18142       10.2

### Exercise 4 - combine just the columns which are common to both

Add an extra parameter, `join='inner'` and combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`  

**Test output**:  
income_df.shape will be (23, 3)   
Column headings will be State, Age, Income  
There will be 23 rows indexed 0 to 22

In [12]:
income_df = pd.concat([county_level_df, state_level_df], join = 'inner', ignore_index=True)
print(income_df.shape)

(23, 4)

# Appending rows to a dataframe

Where two dataframes have matching columns, we can append one to the other to add the records from one onto the end of the other.

We do this using dataframe.append()

income_2 = income.append()

### Exercise 5 - add new rows to the end of the income dataframe

The sheet `income` in the Excel data file has 10 further records showing State, Age and Income only, so this table matches the income dataframe exactly.

Read the data from sheet_name `income` in the same Excel data file into a new dataframe called income_new.  

Display the data so that you can inspect it.  

Now append this dataframe to the `income` dataframe to form a new dataframe called **income_df_v2**.  Use the ignore_index=True parameter to reindex.  

**Test output**:  
income_df_v2.shape = (33, 4)  
Rows are indexed from 0 to 32

In [13]:
income_new_df = pd.read_excel(url, sheet_name = 'income')
income_df_v2 = income_df.append(income_new_df,ignore_index=True)
print(income_df_v2.shape)

(33, 4)

<ipython-input-13-608935429b61>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  income_df_v2 = income_df.append(income_new_df,ignore_index=True)

### Exercise 6 - Create a new Pop column in county_level_df

Looking at the tables country_level_df and state_level_df, each has a column containing data on population.  One column is headed *Population* and the other is headed *Pop*.  Ideally these would be merged into one column and this would minimise the number of NaN entries.  

*  Add a new column called '`Pop`' to the `county_level_df` dataframe which contains a copy of all the values in the '`Population`' column  (`df['new_name'] = df['existing_name']`)  
*  Drop the 'Population' column (`df.drop(column name), axis=1`) from `county_level_df` and store the result in a new dataframe called **county_level_df_v2**
*  display the new dataframe

In [14]:
county_level_df['Pop'] = county_level_df['Population']
county_level_df_v2 = county_level_df.drop('Population', axis=1)
county_level_df_v2

   State  County  Age  Income  Pop
0     TX       1   34      65   72
1     TX       2   42      45   33
2     TX       5   23      46   25
3     TX       6   36      65   54
4     TX       7   42      53   11
5     TX       8   25      62   28
6     TX       9   35      66   82
7     TX      10   40      75    5
8     MD      11   27      22   61
9     MD       2   23      69    5
10    MD       4   25      73   98
11    MD       3   29      75   64
12    MD       2   24      65   36
13    MD       1   25      66   24
14    MD       5   31      78   34
15    MD       6   22      81   89
16    MD       8   25      73   21
17    MD       7   30      62   21

## Exercise 7 - clean up the format of the Pop column in state_level_df

Now that both dataframes hava a Pop column, we should make the data consisent in format for both dataframes.

In `county_level_df_v2` the values in the `Pop` column are in 1000s.  In `state_level_df` the values in the `Pop` column are actual numbers.  Let's convert the `state_level_df` values to 1000s for consistency.  We can do this by performing an operation on a column ( `df[column name] = df[column name] / 1000 `)

*  make a copy of `state_level_df` called **state_level_df_v2** (use df.copy())
*  convert the values in the `Pop` column of the `state_level_df_v2` dataframe to numbers of 1000s from actual numbers, rounding to whole numbers
*  convert the values in the 'Pop' column to int64 (df[column name].astype(int))


**Test output**:
24, 10, 5, 30, 18, dtype: int64

In [16]:
state_level_df_v2 = state_level_df.copy()
state_level_df_v2['Pop'] = round(state_level_df_v2['Pop'] / 1000)
state_level_df_v2['Pop'].astype(int)
state_level_df_v2

  State   Pop  Age  Income  Education
0    TX  24.0   32      54       10.2
1    MD  10.0   29      69       10.3
2    IN   5.0   41      35       10.1
3    CA  30.0   35      67       10.4
4    NY  18.0   34      78       10.2

### Exercise 8 - combine the two v2 dataframes

Combine `county_level_df_v2` and `state_level_df_v2` to create a new dataframe called **income_df_v3**.  The join type should be 'inner' and ignore_index should be True

###  Exercise 9 - create a function that does all the wrangling

Create a function called **get_income_df()** which reads the three data sheets, creates the new versions of `county_level_df` and `state_level_df` and combines the new versions.

This function should:

*  read the three sheets into the dataframes `county_level_df`, `state_level_df` and `income_new_df`
*  clean up the Population column of `county_level_df` so that it has the name Pop
*  clean up the Pop column of `state_level_df` so that it contains values that are whole numbers of 1000s
*  combine `county_level_df` and `state_level_df` with join='inner', ignoring index
*  append income_new_df to the combined dataframe  
*  SORT the final dataframe on Income in descending order
*  return the final dataframe

**Test output**:  
dataframe shape = (33, 4)   
first row = 10	MD	25	73	98     
last row = 7	TX	40	75	5

In [17]:
def get_income_df(df_1, df_2, df_3):
  df_1['Pop'] = df_1['Population']
  df_1 = df_1.drop('Population', axis=1)
  df_2['Pop'] = round(df_2['Pop'] / 1000)
  df_2['Pop'].astype(int)
  income_df = pd.concat([df_1, df_2], join = 'inner', ignore_index=True)
  income_df = income_df.append(df_3,ignore_index=True)
  income_df = income_df.sort_values(by = 'Income', ascending=False)
  return income_df

income_df = get_income_df(county_level_df, state_level_df, income_new_df)
print(income_df.shape)

(33, 4)

<ipython-input-17-00d847f0e214>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  income_df = income_df.append(df_3,ignore_index=True)

### Exercise 10 - group by state and calculate statistics

Run the function get_income_df() and store the result in a new dataframe called **income_df**.

Group income_df by State and calculate some statistics on the groups.

Add a description, in the cell below, of what the statistics show and why in the text box.

In [20]:
grouped = income_df[['State', 'Income']].groupby('State').mean()
print(grouped)
income_df.describe()

          Income
State
CA     66.333333
IN     46.333333
MD     64.230769
NY     74.333333
TX     59.454545

             Age     Income        Pop
count  33.000000  33.000000  23.000000
mean   31.848485  62.121212  36.956522
std     6.026614  14.683659  28.007269
min    22.000000  22.000000   5.000000
25%    27.000000  54.000000  19.500000
50%    32.000000  66.000000  28.000000
75%    35.000000  73.000000  57.500000
max    42.000000  81.000000  98.000000